
/**
* Game
**/
.game {
	background-color: black;
}
.scene {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.camera {
    width: 100%;
    height: 100%;
}

/**
* les differents plans
**/
plan, planFar, element, fleche, actions, .camera, .popupText, inventaire{
	position: absolute;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
planFar {width: 100%; height: 100%;}
planFar.background {z-index: 0;}
plan.background {z-index: 1;}
plan.stage {z-index: 2;}
plan.frontground {z-index: 1000;}
planFar.frontground {z-index: 1001;}
.frontground {opacity : 0.7;}

/**
* Fleches
**/
fleche {
    display: none;
    z-index: 10;
    width: 50; height: 42;
    opacity: 0.3;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}
fleche:hover {opacity: 1;}
fleche.gauche {
    left: 0; top : 50%;
    background-image: url("../img/game/flecheH.png");
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
fleche.droite {
    right: 0; top : 50%;
    background-image: url("../img/game/flecheH.png");
}
fleche.bas {
    left: 50%; bottom : 0;
    background-image: url("../img/game/flecheV.png");
}
fleche.haut {
	left: 50%; top : 0;
    background-image: url("../img/game/flecheV.png");
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

/**
* Actions
**/
.frontground {pointer-events: none;}
element:hover {
	cursor: url("../img/game/cursor/loupe.png"), pointer;
}

fleche:hover, action:hover {
	cursor: pointer;
}

/**
* Utils
**/
.text {
	font-family: serif;
	font-size : 2em;
	max-width: 100%;
	word-wrap: break-word;
}
.popupText {
	z-index: 2000;
	cursor: pointer;
	width: 100%; height: 100%;
}
.popupText mask {
	z-index: 1900;
}
.popupText content {
	top: 50%;
    position: absolute;
    z-index: 2000;
	overflow: hidden;
	
	background-color: #060606;
	
	width: 100%; height: auto;
}
.popupText .text {
	color: ghostwhite;
	width: 80%; height: 80%;
	margin-left: 4%; 
	margin-top: 0%;
}