
/**
* Game
**/
.game {
	background-color: dimgray;
}
.scene {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.camera {
    width: 100%;
    height: 100%;
}

/**
* les differents plans
**/
plan, planFar, element, fleche {
	position: absolute;
	background-repeat: no-repeat;
    background-size: 100% 100%;
}
planFar {width: 100%; height: 100%;}
planFar.background {z-index: 0;}
plan.background {z-index: 1;}
plan.stage {z-index: 2;}
plan.frontground {z-index: 1000;}
planFar.frontground {z-index: 1001;}
.frontground {opacity : 0.7;}

/**
* Fleches
**/
fleche {
    display: none;
    background-color: red;
    z-index: 10;
    width: 50; height: 42;
    opacity: 0.3;
    -webkit-transition: opacity 1s; /* Safari */
    transition: opacity 1s;
}
fleche:hover {opacity: 1;}
fleche.gauche {
    left: 0; top : 50%;
    background-image: url("../img/game/flecheH.png");
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
fleche.droite {
    right: 0; top : 50%;
    background-image: url("../img/game/flecheH.png");
}
fleche.haut {
    left: 50%; top : 0;
    background-image: url("../img/game/flecheV.png");
}
fleche.bas {
    left: 50%; bottom : 0;
    background-image: url("../img/game/flecheV.png");
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

/**
* Actions
**/
.game * {pointer-events: none;}
element, fleche {
	cursor: default;
	pointer-events: all !important;
}
element:hover, fleche:hover {
	cursor: pointer;
}

/**
* Utils
**/
.text {
	font-family: fantasy;
	font-size : 2em;
	max-width: 100%;
	word-wrap: break-word;
}