<div class="game page">
    <div class="scene">
        <planFar class="background"></planFar>
        <div class="camera">
            <plan class="background"></plan>
            <plan class="stage">
                <fleche class="gauche"></fleche>
                <fleche class="droite"></fleche>
                <fleche class="haut"></fleche>
                <fleche class="bas"></fleche>
                <actions></actions>
            </plan>
            <plan class="frontground"></plan>
        </div>
        <planFar class="frontground"></planFar>
        
        <div class="collapse popupText">
			<mask></mask>
			<content>
				<div class="text"></div>
			</content>
		</div>
		<inventaire class="collapse">
			<mask></mask>
			<content class="h-center v-center"></content>
		</inventaire>
    </div>
</div>